@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
a,
article,
body,
center,
div,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
p,
section,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
footer,
header,
section {
    display: block;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}
body {
    -webkit-text-size-adjust: none;
}
*,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.container.\31 25\25 {
    width: 100%;
    max-width: 100rem;
    min-width: 80rem;
}
.container.\37 5\25 {
    width: 60rem;
}
.container.\35 0\25 {
    width: 40rem;
}
.container.\32 5\25 {
    width: 20rem;
}
.container {
    width: 80rem;
}
@media screen and (max-width: 1680px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 100rem;
        min-width: 80rem;
    }
    .container.\37 5\25 {
        width: 60rem;
    }
    .container.\35 0\25 {
        width: 40rem;
    }
    .container.\32 5\25 {
        width: 20rem;
    }
    .container {
        width: 80rem;
    }
}
@media screen and (max-width: 1280px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 81.25rem;
        min-width: 65rem;
    }
    .container.\37 5\25 {
        width: 48.75rem;
    }
    .container.\35 0\25 {
        width: 32.5rem;
    }
    .container.\32 5\25 {
        width: 16.25rem;
    }
    .container {
        width: 65rem;
    }
}
@media screen and (max-width: 980px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }
    .container.\37 5\25 {
        width: 67.5%;
    }
    .container.\35 0\25 {
        width: 45%;
    }
    .container.\32 5\25 {
        width: 22.5%;
    }
    .container {
        width: 90%;
    }
}
@media screen and (max-width: 736px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }
    .container.\37 5\25 {
        width: 67.5%;
    }
    .container.\35 0\25 {
        width: 45%;
    }
    .container.\32 5\25 {
        width: 22.5%;
    }
    .container {
        width: 90% !important;
    }
}
@media screen and (max-width: 480px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }
    .container.\37 5\25 {
        width: 67.5%;
    }
    .container.\35 0\25 {
        width: 45%;
    }
    .container.\32 5\25 {
        width: 22.5%;
    }
    .container {
        width: 90% !important;
    }
}
body {
    -ms-overflow-style: scrollbar;
}
@media screen and (max-width: 480px) {
    body,
    html {
        min-width: 320px;
    }
}
body {
    background: #fff;
}
html {
    font-size: 13pt;
}
@media screen and (max-width: 1680px) {
    html {
        font-size: 11pt;
    }
}
@media screen and (max-width: 1280px) {
    html {
        font-size: 11pt;
    }
}
@media screen and (max-width: 980px) {
    html {
        font-size: 12pt;
    }
}
@media screen and (max-width: 736px) {
    html {
        font-size: 12pt;
    }
}
@media screen and (max-width: 480px) {
    html {
        font-size: 12pt;
    }
}
body {
    background-color: #fff;
    color: #444;
}
body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
}
a {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 2rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 1rem 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.35rem;
}
h4 {
    font-size: 1.1rem;
}
h5 {
    font-size: 0.9rem;
}
h6 {
    font-size: 0.7rem;
}
hr {
    border: 0;
    border-bottom: solid 1px;
    margin: 2rem 0;
}
.align-center {
    text-align: center;
}
a {
    color: #8a4680;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #555;
}
hr {
    border-bottom-color: rgba(144, 144, 144, 0.25);
}
.box {
    margin-bottom: 2rem;
    background: #fff;
}
.box .image.fit {
    margin: 0;
    border-radius: 0;
}
.box .image.fit img {
    border-radius: 0;
}
.box header h2 {
    margin-bottom: 2rem;
}
.box header p {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0 0 0.25rem 0;
    padding: 0 0 0.75rem 0;
    letter-spacing: 0.25rem;
}
.box header p:after {
    content: "";
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.125);
}
.box .content {
    padding: 3rem;
}
.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}
.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}
@media screen and (max-width: 736px) {
    .box .content {
        padding: 2rem;
    }
}
.box {
    border-color: rgba(144, 144, 144, 0.25);
}
::-webkit-input-placeholder {
    opacity: 1;
}
:-moz-placeholder {
    opacity: 1;
}
::-moz-placeholder {
    opacity: 1;
}
:-ms-input-placeholder {
    opacity: 1;
}
::-webkit-input-placeholder {
    color: #bbb !important;
}
:-moz-placeholder {
    color: #bbb !important;
}
::-moz-placeholder {
    color: #bbb !important;
}
:-ms-input-placeholder {
    color: #bbb !important;
}
.image {
    border-radius: 2px;
    border: 0;
    display: inline-block;
    position: relative;
}
.image img {
    border-radius: 2px;
    display: block;
}
.image.fit {
    display: block;
    margin: 0 0 2rem 0;
    width: 100%;
}
.image.fit img {
    width: 100%;
}
.image.main {
    display: block;
    margin: 0 0 3rem 0;
    width: 100%;
}
.image.main img {
    width: 100%;
}
ul {
    list-style: disc;
    margin: 0 0 2rem 0;
    padding-left: 1rem;
}
ul li {
    padding-left: 0.5rem;
}
ul.alt {
    list-style: none;
    padding-left: 0;
}
ul.alt li {
    border-top: solid 1px;
    padding: 0.5rem 0;
}
ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
ul.icons li {
    display: inline-block;
    padding: 0 1rem 0 0;
}
ul.icons li:last-child {
    padding-right: 0;
}
ul.alt li {
    border-top-color: rgba(144, 144, 144, 0.25);
}
header p {
    position: relative;
    margin: 0 0 1.5rem 0;
}
header h2 + p {
    font-size: 1.25rem;
    margin-top: -1rem;
}
header h3 + p {
    font-size: 1.1rem;
    margin-top: -0.8rem;
}
header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.9rem;
    margin-top: -0.6rem;
}
header p {
    color: #bbb;
}
.wrapper {
    padding: 6rem 0 4rem 0;
    position: relative;
    margin: 0;
}
#one {
    padding: 4rem 0 4rem 0;
}
#three {
    background-color: #e7e7e7;
    padding-top: 3rem;
}
#introduction.wrapper {
    padding-bottom: 1px;
}
#contact-intro {
    padding-bottom: 2rem;
    font-size: 1.8rem;
    text-align: center;

}

#contact-intro img{
    margin: 0rem 0 0 1rem;
    position: relative;
    top: 10px;
}

#contact-intro a{
    text-decoration: none;
    color: inherit;
}

#contact-intro a:hover{
    color: dodgerblue;
}

@media screen and (max-width: 736px){
    #contact-intro{font-size: 1.6rem;}
}

@media screen and (max-width: 600px){
    #contact-intro{font-size: 1.4rem;}
}

@media screen and (max-width: 520px){
    .intro p{font-size: 1rem;}
    #contact-intro p{font-size: 1.25rem;}
}

@media screen and (max-width: 480px){
    .inner.intro h2{font-size: 1.6rem;}
    #contact-intro p{font-size: 1.15rem;}
}


.inner.intro p {
    color: #5f5959;
}
.inner.intro h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: #000;
}
.wrapper > .inner {
    margin: 0 auto;
    width: 80rem;
    font-size: 18px;
}
.wrapper.style1 {
    background-color: #8a4680;
    color: #e2d1df;
}
.wrapper.style1 a {
    color: #fff;
}
.wrapper.style1 h1,
.wrapper.style1 h2,
.wrapper.style1 h3,
.wrapper.style1 h4,
.wrapper.style1 h5,
.wrapper.style1 h6 {
    color: #fff;
}
.wrapper.style1 hr {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}
.wrapper.style1 .box {
    border-color: rgba(255, 255, 255, 0.25);
}
.wrapper.style1 ::-webkit-input-placeholder {
    color: #d0b5cc !important;
}
.wrapper.style1 :-moz-placeholder {
    color: #d0b5cc !important;
}
.wrapper.style1 ::-moz-placeholder {
    color: #d0b5cc !important;
}
.wrapper.style1 :-ms-input-placeholder {
    color: #d0b5cc !important;
}
.wrapper.style1 ul.alt li {
    border-top-color: rgba(255, 255, 255, 0.25);
}
.wrapper.style1 header p {
    color: #d0b5cc;
}
.wrapper.style2 {
    background-color: #f2f2f2;
    color: #a6a6a6;
}
.wrapper.style2 a {
    color: #8a4680;
}
.wrapper.style2 h1,
.wrapper.style2 h2,
.wrapper.style2 h3,
.wrapper.style2 h4,
.wrapper.style2 h5,
.wrapper.style2 h6 {
    color: #000;
}
.wrapper.style2 hr {
    border-bottom-color: rgba(0, 0, 0, 0.15);
}
.wrapper.style2 .box {
    border-color: rgba(0, 0, 0, 0.15);
}
.wrapper.style2 ::-webkit-input-placeholder {
    color: #999 !important;
}
.wrapper.style2 :-moz-placeholder {
    color: #999 !important;
}
.wrapper.style2 ::-moz-placeholder {
    color: #999 !important;
}
.wrapper.style2 :-ms-input-placeholder {
    color: #999 !important;
}
.wrapper.style2 ul.alt li {
    border-top-color: rgba(0, 0, 0, 0.15);
}
.wrapper.style2 header p {
    color: #999;
}
.wrapper.style3 {
    background-color: #000;
    color: #bfbfbf;
    background-image: url(../../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.wrapper.style3 a {
    color: #8a4680;
}
.wrapper.style3 h1,
.wrapper.style3 h2,
.wrapper.style3 h3,
.wrapper.style3 h4,
.wrapper.style3 h5,
.wrapper.style3 h6 {
    color: #fff;
}
.wrapper.style3 hr {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}
.wrapper.style3 .box {
    border-color: rgba(255, 255, 255, 0.25);
}
.wrapper.style3 ::-webkit-input-placeholder {
    color: #999 !important;
}
.wrapper.style3 :-moz-placeholder {
    color: #999 !important;
}
.wrapper.style3 ::-moz-placeholder {
    color: #999 !important;
}
.wrapper.style3 :-ms-input-placeholder {
    color: #999 !important;
}
.wrapper.style3 ul.alt li {
    border-top-color: rgba(255, 255, 255, 0.25);
}
.wrapper.style3 header p {
    color: #999;
}
.wrapper.style3 .inner {
    position: relative;
    z-index: 2;
}
.wrapper.style3 p {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0 0 0.5rem 0;
    padding: 0 0 1rem 0;
    letter-spacing: 0.25rem;
}
.wrapper.style3 p:after {
    content: "";
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}
.wrapper.style3:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.95);
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
@media screen and (max-width: 1280px) {
    .wrapper > .inner {
        width: 75rem;
    }
}
@media screen and (max-width: 980px) {
    .wrapper > .inner {
        width: 90%;
    }
    .wrapper.style3 {
        background-attachment: scroll;
    }
}
@media screen and (max-width: 736px) {
    .wrapper {
        padding: 3rem 0 1rem 0;
    }
}
.grid-style {
    width: 100%;
    margin: 0 0 2.5rem 0;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
}
.grid-style > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
}
.grid-style > * {
    width: 50%;
}
.grid-style > * {
    padding: 2rem;
    width: calc(50% + 2rem);
}
.grid-style > :nth-child(-n + 2) {
    padding-top: 0;
}
.grid-style > :nth-last-child(-n + 2) {
    padding-bottom: 0;
}
.grid-style > :nth-child(2n + 1) {
    padding-left: 0;
}
.grid-style > :nth-child(2n) {
    padding-right: 0;
}
.grid-style > :nth-child(2n),
.grid-style > :nth-child(2n + 1) {
    width: calc(50% + 0rem);
}
.grid-style .box {
    margin: 0;
}
@media screen and (max-width: 980px) {
    .grid-style > * {
        width: 100%;
    }
    .grid-style > * {
        padding: 1rem;
        width: calc(50% + 1rem);
    }
    .grid-style > :nth-child(-n + 2) {
        padding-top: 1rem;
    }
    .grid-style > :nth-last-child(-n + 2) {
        padding-bottom: 1rem;
    }
    .grid-style > :nth-child(2n + 1) {
        padding-left: 1rem;
    }
    .grid-style > :nth-child(2n) {
        padding-right: 1rem;
    }
    .grid-style > :nth-child(2n),
    .grid-style > :nth-child(2n + 1) {
        padding: 1rem;
        width: calc(100% + 2rem);
    }
    .grid-style > * {
        padding: 1rem;
        width: calc(100% + 2rem);
    }
    .grid-style > :nth-child(-n + 1) {
        padding-top: 0;
    }
    .grid-style > :nth-last-child(-n + 1) {
        padding-bottom: 0;
    }
    .grid-style > :nth-child(1n + 1) {
        padding-left: 0;
    }
    .grid-style > :nth-child(1n) {
        padding-right: 0;
    }
    .grid-style > :nth-child(1n),
    .grid-style > :nth-child(1n + 1) {
        width: calc(100% + 1rem);
    }
}
.gallery {
    width: 100%;
    margin: 2.5rem 0 2.5rem 0;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
}
.gallery > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
}
.gallery > * {
    width: 50%;
}
.gallery > * {
    padding: 2rem;
    width: calc(50% + 2rem);
}
.gallery > :nth-child(-n + 2) {
    padding-top: 0;
}
.gallery > :nth-last-child(-n + 2) {
    padding-bottom: 0;
}
.gallery > :nth-child(2n + 1) {
    padding-left: 0;
}
.gallery > :nth-child(2n) {
    padding-right: 0;
}
.gallery > :nth-child(2n),
.gallery > :nth-child(2n + 1) {
    width: calc(50% + 0rem);
}
.gallery .image {
    background: #fff;
    padding: 1rem;
}
.gallery .image.fit {
    margin: 0;
}
@media screen and (max-width: 980px) {
    .gallery > * {
        width: 100%;
    }
    .gallery > * {
        padding: 1rem;
        width: calc(50% + 1rem);
    }
    .gallery > :nth-child(-n + 2) {
        padding-top: 1rem;
    }
    .gallery > :nth-last-child(-n + 2) {
        padding-bottom: 1rem;
    }
    .gallery > :nth-child(2n + 1) {
        padding-left: 1rem;
    }
    .gallery > :nth-child(2n) {
        padding-right: 1rem;
    }
    .gallery > :nth-child(2n),
    .gallery > :nth-child(2n + 1) {
        padding: 1rem;
        width: calc(100% + 2rem);
    }
    .gallery > * {
        padding: 1rem;
        width: calc(100% + 2rem);
    }
    .gallery > :nth-child(-n + 1) {
        padding-top: 0;
    }
    .gallery > :nth-last-child(-n + 1) {
        padding-bottom: 0;
    }
    .gallery > :nth-child(1n + 1) {
        padding-left: 0;
    }
    .gallery > :nth-child(1n) {
        padding-right: 0;
    }
    .gallery > :nth-child(1n),
    .gallery > :nth-child(1n + 1) {
        width: calc(100% + 1rem);
    }
}
@-moz-keyframes reveal-header {
    0% {
        top: -4em;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@-webkit-keyframes reveal-header {
    0% {
        top: -4em;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@-ms-keyframes reveal-header {
    0% {
        top: -4em;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@keyframes reveal-header {
    0% {
        top: -4em;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
#header {
    background: rgba(0, 0, 0, 0.975);
    color: #a6a6a6;
    cursor: default;
    height: 3.25em;
    left: 0;
    line-height: 3.25em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}
#header > a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 0.75em;
    color: inherit;
    text-decoration: none;
    color: #fff;
}
#header > a:hover {
    color: #f2f2f2;
}
#header > a[href="#menu"] {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
#header > a[href="#menu"]:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-transform: none !important;
}
#header > a[href="#menu"]:before {
    margin: 0 0.5em 0 0;
}
#header > a + a[href="#menu"]:last-child {
    border-left: solid 1px rgba(0, 0, 0, 0.15);
    padding-left: 1.25em;
    margin-left: 0.5em;
}
#header > a:last-child {
    padding-right: 1.25em;
}
@media screen and (max-width: 736px) {
    #header > a {
        padding: 0 0.5em;
    }
    #header > a + a[href="#menu"]:last-child {
        padding-left: 1em;
        margin-left: 0.25em;
    }
    #header > a:last-child {
        padding-right: 1em;
    }
}
#header.alt {
    -moz-animation: none;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    background-color: transparent;
    box-shadow: none;
    overflow: hidden;
    position: absolute;
    top: 1.5em;
}
#header.alt h1 {
    left: 2.5em;
}
@media screen and (max-width: 980px) {
    #header {
        height: 44px;
        line-height: 44px;
    }
    #header > h1 {
        left: 1em;
    }
    #header > h1 a {
        font-size: 1em;
    }
}
@media screen and (max-width: 480px) {
    #header {
        min-width: 320px;
    }
}
.banner {
    background-color: #8a4680;
    color: #e2d1df;
    padding: 8em 0;
    position: relative;
}
.banner a {
    color: #fff;
}
.banner h1,
.banner h2,
.banner h3,
.banner h4,
.banner h5,
.banner h6 {
    color: #fff;
}
.banner hr {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}
.banner.full {
    padding: 0;
    min-height: 100vh;
    height: 100vh !important;
}
.banner > article {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../images/gallery/17.jpeg);
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 0;
}
.banner > article:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.35;
}
.banner > article .inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}
.banner > article .inner > :last-child {
    margin-bottom: 0;
}
.banner > article h2 {
    font-size: 7rem;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.788);
    font-weight: 300;
}

.banner > article h3{
    color: rgba(255, 255, 255, 0.884);
}

.banner > article h2:after {
    display: none;
}
.banner > article p {
    color: rgba(255, 255, 255, 0.65);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    padding-bottom: 1.75rem;
    letter-spacing: 0.25rem;
}
.banner > article p:after {
    content: "";
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.65);
}
.banner > article a {
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 1280px) {
    .banner.full {
        padding: 0;
        min-height: 36rem;
        height: 36rem !important;
    }
}
@media screen and (max-width: 980px) {
    .banner.full {
        padding: 0;
        min-height: 24rem;
        height: 24rem !important;
    }
    .banner > article {
        background-attachment: scroll;
    }
    .banner > article h2 {
        font-size: 4em;
    }
}
@media screen and (max-width: 736px) {
    .banner > article .inner {
        width: 90%;
    }
    .banner > article p {
        margin-bottom: 1rem;
    }
    .banner > article h2 {
        font-size: 3.5em;
    }
}
@media screen and (max-width: 700px) {
    .banner > article h2 {
        font-size: 3em;
    }
    .banner > article h3 {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 600px) {
    .banner > article h2 {
        font-size: 2.6em;
    }
}
@media screen and (max-width: 540px) {
    .banner > article h2 {
        font-size: 2.4em;
    }
    .banner > article h3 {
        font-size: 1rem;
    }
}
#main {
    padding: 4rem 0 2rem 0;
}
@media screen and (max-width: 736px) {
    #main {
        padding: 3rem 0 1rem 0;
    }
}
#footer {
    padding: 4rem 0 2rem 0;
    background: #000;
    text-align: center;
}
#footer a {
    color: rgba(255, 255, 255, 0.5);
}
#footer a:hover {
    color: #fff;
}
#footer .copyright {
    color: #bbb;
    font-size: 0.9rem;
    margin: 0 0 2rem 0;
    padding: 0;
    text-align: center;
}
@media screen and (max-width: 736px) {
    #footer {
        padding: 3rem 0 1rem 0;
    }
}
